
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap:2em;
  justify-items: center; 
  align-content: center;
  max-width: 1200px;
  margin: 0 auto; 
  padding-top: 8rem; 
}




.card {
  
  width: 250px; 
  height: 300px; 
  border-radius: 8px;
  gap:2em;
  display: flex;
  flex-direction: column;
  
  transition: transform 0.3s ease,
  box-shadow 0.3s ease, border 0.3s ease;

 
}

.card:hover{
  border: 2px solidrgba(135,206,250,0.6);
  background-color: #fff; 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-image{
 
  width: 100%;
  height: auto;
}
.card img {
  width: 180px; 
  height: 250px; 
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-image img:hover {
  transform: scale(1.0); /* Zoom in on hover */
  
}

.card-title{
  display: flex;
  flex-direction: column;
 padding-top:4rem;
  
 
}

.card-title h3 {
  font-size: 16px;
  font-weight: normal;
  color: rgb(8, 8, 8);
  width: 250px;
  
  
}

.cart-align{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.cart-icon{

  width: 80px;
  height: 30px;
}