
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap:2em;
  justify-items: center; 
  align-content: center;

  max-width: 1200px;
  margin: 0 auto; 
  padding-top: 8rem; 
}




.card {
  
  width: 250px; 
  height: 250px; 
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  gap:2em;
  display: flex;
  flex-direction: column;
  background-color: #fff; 
  /* box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1); */
 
}

.card-image{
 
  width: 100%;
  height: auto;
}
.card img {
  width: 160px; 
  height: 220px; 
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-image img:hover {
  transform: scale(1.1); /* Zoom in on hover */
  
}

.card-title{
  display: flex;
  flex-direction: column;
  
 
}

.card-title h3 {
  font-size: 16px;
  font-weight: normal;
  color: rgb(8, 8, 8);
  width: 250px;
  
  
}

.card-title p {
  font-size: 14px;
  color: #555;
  
  
}
