.cart {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.cart h1 {
    text-align: start;
    font-size: 28px;
    margin-top: 4rem;
    color: rgb(66, 66, 66);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-head {
    background-color: rgb(189, 184, 184);
    text-align: left;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border: none;
}

.table td {
    border-bottom: 1px solid #ddd;
}

.no-items {
    text-align: center;
    font-size: 1.2em;
    color: #666;
}

.cart-product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.image-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.quantity-button button {
    background-color: black;
    color: aliceblue;
    width: 30px;
    height: 30px;
    padding: 4px;
    margin: 0 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.quantity-button button:hover {
    background-color: #555;
}

.grand-total {
    font-size: 1.2em;
    font-weight: bold;
    color: #2b2929;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pay-now-button {
    width: 120px;
    height: 35px;
    background-color: black;
    color: rgb(243, 238, 228);
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.pay-now-button:hover {
    background-color: #444;
}



.cart-delete-icon{

    width: 20px;
    height: 20px;
}
.cart-delete-icon:hover{
    color: #666;
}

.cart-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
